form {
  width:330px;
  margin:20px;
  background-color:blue;
  padding:20px;
}
input {
  text-align:right;
}
.promo-example {
    overflow: hidden !important;
}
.promo i {
    margin: 40px 0 !important;
    color: #ee6e73 !important;
    font-size: 7rem !important;
    display: block !important;
}